<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="simon.com.photopicker">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".PhotoPickActivity" android:screenOrientation="portrait" />
        <activity android:name=".PhotoPickDetailActivity" android:screenOrientation="portrait" />
        <activity android:name=".ImagePagerActivity" android:screenOrientation="portrait" />
    </application>

</manifest>
